@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    --background-color: #FFFFFF;
    --secondary-background-color: #FFD5C2;
    --primary: #F28F3B;
    --secondary: #C8553D;
    --cyan: #588B8B;
}
